[submodule "multigraph"]
	path = multigraph
	url = https://github.com/multigraph/flash-multigraph.git
[submodule "global-climate-dashboard-data"]
	path = global-climate-dashboard-data
	url = https://github.com/nemac/global-climate-dashboard-data.git
