/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	content-background-color: #979797;
	content-background-alpha: 1.0;
}

.tabs 
{
	fillColors: #424548;
	fillAlphas: 1,1;
	highlightAlphas: .5,0;
	cornerRadius:10;
}
	
.legendp {
	color:#cccccc;
	fontSize:11;
	fontWeight:bold;
}

s|Label#leftLabel {
    color: #ffffff;
}
s|Label#rightLabel {
    color: #ffffff;
}
s|VGroup#content {
    color: #ff0000;
}

.legendText {
    color: #444444;
    fontWeight: bold;
}

/* expanded graph's title text: */
.expandedGraphTitle
{
	backgroundAlpha: 0.0;
	backgroundColor: #FFFFFF;
	paddingBottom: 1;
	paddingLeft: 1;
	paddingRight: 1;
	paddingTop: 2;
	color: #ffffff;
    fontWeight: bold;
}

.collapsedGraphTitle
{
  color: #FFFFFF;
  fontWeight: bold;
  textAlign: left;
  verticalAlign: middle;
}
